<a href="https://colab.research.google.com/github/Kalo-ch/TalentoTech_/blob/main/Intro_Talento_Tech.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Practica 1 de Talento Tech: incluye importar un Dataset

In [ ]:
# Paso 1: Importar las librerias requeridas
# Paso 2: Debo tener el archivo en una carpeta
# Paso 3: Debo establecer una conexion con la carpeta
# Paso 4: Ejecutar la celda de la conexion y revisar que esté OK

Ingreso de nuevos datos

In [ ]:
from google.colab import drive # Traemos la clase drive, dentro del módulo colab, del paquete google
drive.mount('/content/drive') # Establecemos la conexión através del método mount

Mounted at /content/drive

In [ ]:
#Establezco la conexion con mi fuente y con el Dataset de prueba Ventas.xlsx
path = '/content/drive/MyDrive/Colab Notebooks/Intro TalentoTech/data/ventas.xlsx'

In [ ]:
#importamos la libreria para manipulacion de datos llamada pandas
import pandas as pd

In [ ]:
import math

In [ ]:
#creamos un dataframe de pandas con los datos suministrados
df_ventas = pd.read_excel(path)

**Subir archivos sin autorizacion de drive**

* From google.colab import files
* Uploaded= files.upload()

**Creacion y Lectura de DataFrames:**

* pd.DataFrame(data): crea un DataFrame a partir de datos.
* pd.read_csv('archivo.csv'): Lee un archivo CSV y crea un DataFrame.
* pd.read_excel('archivo.xlsx'): Lee un archivo Excel y crea un DataFrame.

**Visualizacion y Exploracion de Datos:**

* df.head(): Muestra las primeras filas del dataframe.
* df.tail(): Muestra las ultimas filas del dataframe
* df.info(): Muestra informacion sobre el dataframe, incluyendo tipos de datos y valores no nulos.
* df.describe(): proporciona estadisticas descriptivas para columnas numericas.
* df.shape(): Devuelve una tupla con la cantidad de filas y columnas del DataFrame.
* df.columns(): Devuelve una lista con los nombres de las columnas del DataFrame.
* df_nueva = df_antigua.rename(columns col1:COL1, col2:COL2): Cambia los nombres de las columnas
* df.query("lo que se va aconsultar") : realiza una conmsulta de algo en especifico

In [ ]:
#Muestra la lista con los nombres de las columnas del dataframe
df_ventas.columns

Index(['Fecha', 'Region', 'Producto', 'Vendedor', 'Ventas'], dtype='object')

In [ ]:
#Muestra las primeras filas del Dataframe
df_ventas.head()

       Fecha   Region      Producto Vendedor  Ventas
0 2024-01-31  Central    Accesorios    David    8287
1 2024-02-01  Central    Accesorios    Karen    6909
2 2024-02-02  Central  Dispositivos    David   11420
3 2024-02-03  Central  Dispositivos    Karen   12948
4 2024-02-04  Central      Sistemas    David   20098

In [ ]:
#Muestra las ultimas filas del Dataframe
df_ventas.tail()

        Fecha Region      Producto Vendedor  Ventas
13 2024-02-13  Oeste    Accesorios     Sara    5442
14 2024-02-14  Oeste  Dispositivos    Kevin   10711
15 2024-02-15  Oeste  Dispositivos     Sara    8780
16 2024-02-16  Oeste      Sistemas    Kevin   32855
17 2024-02-17  Oeste      Sistemas     Sara   23151

In [ ]:
#muestra informacion del Dataframe
df_ventas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     18 non-null     datetime64[ns]
 1   Region    18 non-null     object
 2   Producto  18 non-null     object
 3   Vendedor  18 non-null     object
 4   Ventas    18 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 848.0+ bytes

In [ ]:
#Proporciona estadisticas descriptivas columnas numericas
df_ventas.describe()

                     Fecha        Ventas
count                   18     18.000000
mean   2024-02-08 12:00:00  13307.388889
min    2024-01-31 00:00:00   4744.000000
25%    2024-02-04 06:00:00   8410.250000
50%    2024-02-08 12:00:00  10529.500000
75%    2024-02-12 18:00:00  13491.750000
max    2024-02-17 00:00:00  32855.000000
std                    NaN   8153.055776

**EJERCICIOS**

In [ ]:
# Ejercicio 1: Mostrar las primeras filas del DataFrame
print("Ejercicio 1: Mostrar las primeras filas del DataFrame")
print(df_ventas.head(5))

Ejercicio 1: Mostrar las primeras filas del DataFrame
       Fecha   Region      Producto Vendedor  Ventas
0 2024-01-31  Central    Accesorios    David    8287
1 2024-02-01  Central    Accesorios    Karen    6909
2 2024-02-02  Central  Dispositivos    David   11420
3 2024-02-03  Central  Dispositivos    Karen   12948
4 2024-02-04  Central      Sistemas    David   20098

In [ ]:
# Ejercicio 2: Calcular el total de ventas por region
print("Ejercicio 2: calcular el total de ventas por region")
ventas_por_region = df_ventas.groupby('Region')['Ventas'].sum()
print(ventas_por_region)
print("\n")
print(df_ventas.head(10))

Ejercicio 2: calcular el total de ventas por region
Region
Central    90295
Este       63555
Oeste      85683
Name: Ventas, dtype: int64


       Fecha   Region      Producto Vendedor  Ventas
0 2024-01-31  Central    Accesorios    David    8287
1 2024-02-01  Central    Accesorios    Karen    6909
2 2024-02-02  Central  Dispositivos    David   11420
3 2024-02-03  Central  Dispositivos    Karen   12948
4 2024-02-04  Central      Sistemas    David   20098
5 2024-02-05  Central      Sistemas    Karen   30633
6 2024-02-06     Este    Accesorios      Ana    9323
7 2024-02-07     Este    Accesorios    Lucas    7667
8 2024-02-08     Este  Dispositivos      Ana   10348
9 2024-02-09     Este  Dispositivos    Lucas    9312

In [ ]:
# Ejercicio 3: Filtrar el dataframe para mostrar solo las ventas realizadas por David
print("Ejercicio 3: Filtrar el dataframe para mostrar solo las ventas realizadas por David")
ventas_david = df_ventas[df_ventas['Vendedor']=='David']
print(ventas_david)

Ejercicio 3: Filtrar el dataframe para mostrar solo las ventas realizadas por David
       Fecha   Region      Producto Vendedor  Ventas
0 2024-01-31  Central    Accesorios    David    8287
2 2024-02-02  Central  Dispositivos    David   11420
4 2024-02-04  Central      Sistemas    David   20098

In [ ]:
#Ejercicio 4: Calcular el promedio de ventas por region
print("Ejercicio 4: Calcular el promedio de ventas por region")
ventas_por_region=df_ventas.groupby("Region")["Ventas"].mean()
print(ventas_por_region)

Ejercicio 4: Calcular el promedio de ventas por region
Region
Central    15049.166667
Este       10592.500000
Oeste      14280.500000
Name: Ventas, dtype: float64

In [ ]:
#Ejercicio 5: Calcular el promedio de ventas por region con dos decimales
print("Ejercicio 5: Calcular el promedio de ventas por region con dos decimales")
ventas_por_region=df_ventas.groupby("Region")["Ventas"].mean().round(2)
print(ventas_por_region)

In [ ]:
#Ejercicio 6: Ordenar el Dataframe por ventas en orden Descendente
print("Ejercicio 6: Ordenar el Dataframe por ventas en orden Descendente")
df_ordenado = df_ventas.sort_values(by="Ventas", ascending= False)
print(df_ordenado)

Ejercicio 6: Ordenar el Dataframe por ventas en orden Descendente
        Fecha   Region      Producto Vendedor  Ventas
16 2024-02-16    Oeste      Sistemas    Kevin   32855
5  2024-02-05  Central      Sistemas    Karen   30633
17 2024-02-17    Oeste      Sistemas     Sara   23151
4  2024-02-04  Central      Sistemas    David   20098
10 2024-02-10     Este      Sistemas      Ana   13531
11 2024-02-11     Este      Sistemas    Lucas   13374
3  2024-02-03  Central  Dispositivos    Karen   12948
2  2024-02-02  Central  Dispositivos    David   11420
14 2024-02-14    Oeste  Dispositivos    Kevin   10711
8  2024-02-08     Este  Dispositivos      Ana   10348
6  2024-02-06     Este    Accesorios      Ana    9323
9  2024-02-09     Este  Dispositivos    Lucas    9312
15 2024-02-15    Oeste  Dispositivos     Sara    8780
0  2024-01-31  Central    Accesorios    David    8287
7  2024-02-07     Este    Accesorios    Lucas    7667
1  2024-02-01  Central    Accesorios    Karen    6909
13 2024-02-13    Oeste    Accesorios     Sara    5442
12 2024-02-12    Oeste    Accesorios    Kevin    4744

# Manipulacion de datos:
* filtrar las filas donde las ventas sean mayores a 1000
* ordena el dataframe por la columna
"Ventas" en orden descendente
* elimina la columna vendedor

In [ ]:
#Ejercicio 7: filtrar las filas con ventas mayores a 10000 y ordenar de mayor a menor
print("Ejercicio 7: filtrar las filas con ventas mayores a 10000 y ordenar de mayor a menor")
df_filtrado=df_ventas[df_ventas["Ventas"] > 10000].sort_values(by ="Ventas", ascending=False)
print(df_filtrado)
print("\n")

Ejercicio 7: filtrar las filas con ventas mayores a 10000 y ordenar de mayor a menor
        Fecha   Region      Producto Vendedor  Ventas
16 2024-02-16    Oeste      Sistemas    Kevin   32855
5  2024-02-05  Central      Sistemas    Karen   30633
17 2024-02-17    Oeste      Sistemas     Sara   23151
4  2024-02-04  Central      Sistemas    David   20098
10 2024-02-10     Este      Sistemas      Ana   13531
11 2024-02-11     Este      Sistemas    Lucas   13374
3  2024-02-03  Central  Dispositivos    Karen   12948
2  2024-02-02  Central  Dispositivos    David   11420
14 2024-02-14    Oeste  Dispositivos    Kevin   10711
8  2024-02-08     Este  Dispositivos      Ana   10348

In [ ]:
# Ejercicio 8: Ordenar el dataframe por ventas en orden ascendente
print("Ejercicio 8: Ordenar el dataframe por ventas en orden ascendente")
df_ordenado = df_ventas.sort_values(by='Ventas', ascending=True)
print(df_ordenado)
print("\n")

Ejercicio 8: Ordenar el dataframe por ventas en orden ascendente
        Fecha   Region      Producto Vendedor  Ventas
12 2024-02-12    Oeste    Accesorios    Kevin    4744
13 2024-02-13    Oeste    Accesorios     Sara    5442
1  2024-02-01  Central    Accesorios    Karen    6909
7  2024-02-07     Este    Accesorios    Lucas    7667
0  2024-01-31  Central    Accesorios    David    8287
15 2024-02-15    Oeste  Dispositivos     Sara    8780
9  2024-02-09     Este  Dispositivos    Lucas    9312
6  2024-02-06     Este    Accesorios      Ana    9323
8  2024-02-08     Este  Dispositivos      Ana   10348
14 2024-02-14    Oeste  Dispositivos    Kevin   10711
2  2024-02-02  Central  Dispositivos    David   11420
3  2024-02-03  Central  Dispositivos    Karen   12948
11 2024-02-11     Este      Sistemas    Lucas   13374
10 2024-02-10     Este      Sistemas      Ana   13531
4  2024-02-04  Central      Sistemas    David   20098
17 2024-02-17    Oeste      Sistemas     Sara   23151
5  2024-02-05  Central      Sistemas    Karen   30633
16 2024-02-16    Oeste      Sistemas    Kevin   32855

In [ ]:
#Ejercicio 9: Eliminar la columna "Vendedor"
print("#Ejercicio 9: Eliminar la columna Vendedor")
df_sin_Vendedor= df_ventas.drop(columns=['Vendedor'])
print(df_sin_Vendedor)
print("\n")

#Ejercicio 9: Eliminar la columna Vendedor
        Fecha   Region      Producto  Ventas
0  2024-01-31  Central    Accesorios    8287
1  2024-02-01  Central    Accesorios    6909
2  2024-02-02  Central  Dispositivos   11420
3  2024-02-03  Central  Dispositivos   12948
4  2024-02-04  Central      Sistemas   20098
5  2024-02-05  Central      Sistemas   30633
6  2024-02-06     Este    Accesorios    9323
7  2024-02-07     Este    Accesorios    7667
8  2024-02-08     Este  Dispositivos   10348
9  2024-02-09     Este  Dispositivos    9312
10 2024-02-10     Este      Sistemas   13531
11 2024-02-11     Este      Sistemas   13374
12 2024-02-12    Oeste    Accesorios    4744
13 2024-02-13    Oeste    Accesorios    5442
14 2024-02-14    Oeste  Dispositivos   10711
15 2024-02-15    Oeste  Dispositivos    8780
16 2024-02-16    Oeste      Sistemas   32855
17 2024-02-17    Oeste      Sistemas   23151

# **EJERCICIO PERSONA: DATASET 1**

In [ ]:
#Ruta del dataset 1
path1="/content/drive/MyDrive/Colab Notebooks/Intro TalentoTech/data/csv/Dataset 1.csv"

In [ ]:
#Leemos el dataset con la libreria pandas
df_Dataset1=pd.read_csv(path1, delimiter=";")

In [ ]:
#Mostrar dataframe
print(df_Dataset1)

   Id  weight  height  age gender
0   1   144.5     5.9   33      M
1   2   167.2     5.4   45      M
2   3   124.1     5.2   23      F
3   4   144.5     5.9   33      M
4   5   133.2     5.7   54      F
5   3   124.1     5.2   23      F
6   5   129.2     5.3   42      M

In [ ]:
#Cambiar nombres columnas
df_nombres=df_Dataset1.rename(columns={"weight": "Peso", "height": "Estatura", "age":"Edad", "gender":"Genero"})
print(df_nombres)

   Id   Peso  Estatura  Edad Genero
0   1  144.5       5.9    33      M
1   2  167.2       5.4    45      M
2   3  124.1       5.2    23      F
3   4  144.5       5.9    33      M
4   5  133.2       5.7    54      F
5   3  124.1       5.2    23      F
6   5  129.2       5.3    42      M

Transformar Valores

In [ ]:
#Peso Y altura
#Factores de conversion
lbs_to_kg = 0.453592
estatura_to_mt=0.3048

#crear un nuevo dataframe llamado df_convertido
df_convertido=df_nombres

#convertir peso a kilogramos
df_convertido['Peso_kg']=df_convertido['Peso'] * lbs_to_kg

#convertir Estatura a metros
df_convertido['Estatura_mts']=df_convertido['Estatura'] * estatura_to_mt

#Mostrar dataframer actualizado
print(df_convertido.head())

   Id   Peso  Estatura  Edad Genero    Peso_kg  Estatura_mts
0   1  144.5       5.9    33      M  65.544044       1.79832
1   2  167.2       5.4    45      M  75.840582       1.64592
2   3  124.1       5.2    23      F  56.290767       1.58496
3   4  144.5       5.9    33      M  65.544044       1.79832
4   5  133.2       5.7    54      F  60.418454       1.73736

In [ ]:
#Seleccionar campos
df_select= df_convertido[['Id','Peso_kg','Estatura_mts','Edad', 'Genero']]
df_select

   Id    Peso_kg  Estatura_mts  Edad Genero
0   1  65.544044       1.79832    33      M
1   2  75.840582       1.64592    45      M
2   3  56.290767       1.58496    23      F
3   4  65.544044       1.79832    33      M
4   5  60.418454       1.73736    54      F
5   3  56.290767       1.58496    23      F
6   5  58.604086       1.61544    42      M

In [ ]:
df_duplicado=df_select.duplicated()
df_duplicado

0    False
1    False
2    False
3    False
4    False
5     True
6    False
dtype: bool

In [ ]:

df_Peso=df_select['Peso_kg']
df_Peso

0    65.544044
1    75.840582
2    56.290767
3    65.544044
4    60.418454
5    56.290767
6    58.604086
Name: Peso_kg, dtype: float64

# EJERCICIO PERSONA: DATASET 2

In [ ]:
#Ruta del dataset 2
path2="/content/drive/MyDrive/Colab Notebooks/Intro TalentoTech/data/csv/Dataset 2.csv"

In [ ]:
#Leemos el dataset con la libreria pandas
df_Dataset2=pd.read_csv(path2, delimiter=";")

In [ ]:
#Mostrar dataframe
print(df_Dataset2)

   id   weight  height  age
0    1   143.5     5.3   28
1    2   154.2     5.5   45
2    3   342.3     5.1   99
3    4   144.5     5.5   33
4    5   133.2     5.4   54
5    6   124.1     5.1   21
6    7   129.2     5.3   42

In [ ]:
#Cambiar nombres columnas
df_nombres1=df_Dataset2.rename(columns={"weight": "Peso", "height": "Estatura", "age":"Edad"})
print(df_nombres1)

   id    Peso  Estatura  Edad
0    1  143.5       5.3    28
1    2  154.2       5.5    45
2    3  342.3       5.1    99
3    4  144.5       5.5    33
4    5  133.2       5.4    54
5    6  124.1       5.1    21
6    7  129.2       5.3    42

# EJERCICIO PERSONA: DATASET 3

In [ ]:
#Ruta del dataset 3
path3="/content/drive/MyDrive/Colab Notebooks/Intro TalentoTech/data/csv/Dataset 3.csv"

In [ ]:
#Leemos el dataset con la libreria pandas
df_Dataset3=pd.read_csv(path3, delimiter=";")

In [ ]:
#Mostrar dataframe
print(df_Dataset3)

   id   weight  height   age gender   income
0    1   143.5     5.6  28.0      M  100000.0
1    2   167.2     5.4  45.0      M       NaN
2    3     NaN     5.2   NaN    NaN       NaN
3    4   144.5     5.9  33.0      M       NaN
4    5   133.2     5.7  54.0      F       NaN
5    6   124.1     5.2   NaN      F       NaN
6    7   129.2     5.3  42.0      M   76000.0

In [ ]:
#Cambiar nombres columnas
df_nombres2=df_Dataset3.rename(columns={"weight": "Peso", "height": "Estatura", "age":"Edad", "gender":"Genero", "income ": "Ingresos"})
print(df_nombres2)

   id    Peso  Estatura  Edad Genero  Ingresos
0    1  143.5       5.6  28.0      M  100000.0
1    2  167.2       5.4  45.0      M       NaN
2    3    NaN       5.2   NaN    NaN       NaN
3    4  144.5       5.9  33.0      M       NaN
4    5  133.2       5.7  54.0      F       NaN
5    6  124.1       5.2   NaN      F       NaN
6    7  129.2       5.3  42.0      M   76000.0

In [ ]:
#Cuantos valores nulos hay en cada columna
df_no_nulos2=df_nombres2.isnull().sum()
df_no_nulos2

id          0
Peso        1
Estatura    0
Edad        2
Genero      1
Ingresos    5
dtype: int64